body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue;
  font-size: 14px;
  background-image: url("../images/background.jpg");
}

a {
  text-decoration: none;
  color: #000000;
}

#content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 50px 93vh;
}

#filter-field {
  width: 93%;
  height: 25px
}

#top-left-pane {
  background-color: #FBFBFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E8E8E8;
  padding-top: 9px;
  padding-left: 10px;
}

#top-right-pane {
  display:inline-block;
  background-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CFC9C4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
  padding-left: 20px;
  padding-top: 14px;
}

#bottom-left-pane {
  background-color: #FFFFFF;
  padding-left: 10px;
  overflow: auto;
}

#bottom-right-pane {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

#partner-name {
  float: left;
  font-size: 16px;
}

#file-selector {
  float: right;
}

.conversation {
  font-size: 16px;
  padding: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
}

.conversation:hover {
  background-color: #F5F5F5;
}

.last-message-date {
  font-size: 12px;
  color: #AAAAAA;
  margin-top: 5px;
}

.message {
  display:table;
  min-width: 1px;
  max-width: 750px;
  padding: 9px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #808080;
  word-wrap: break-word
}

.message-from-me {
  background-color: #DDF7C8;
  margin-left: 100px;
}

.message-from-other {
  background-color: #FFFFFF;
}

.timestamp {
  background-color: #E0F1F9;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.from-name-in-group {
  font-weight: bold;
  margin-bottom: 5px;
}
